.info{
	color: #006699;
	text-align: justify;
}

#logo-leach {
	width: 400px;
	margin-top:190px;
}

.rounded-circle {
	box-shadow: 10px -3px 22px #888888;
	cursor: pointer;
}
.rounded-circle:hover {
	filter: grayscale(100%);
}