   
/* ==========================================================================
	Google Font
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
   
a,a:hover {
  text-decoration:none;
  font-weight: 400;
}

html,
body {
  color:#545454;
  line-height:26px;
  font-weight: 400;
  font-size:15px;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #2B2B2B;
}
ul {
  margin:0px;
  padding:0px;
  list-style:none;
}
img {
  max-width:100%;
  height:auto;
}

*{
	padding: 0;
	margin: 0;
}

/*--------------------------
 1. navbar area 
 ----------------------------*/
#mainNav {
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	background: #FAFAFA;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EAEAE9;
}

.nav-list{
  display: flex;
  flex-flow: row;
  align-items: center;
  white-space: nowrap;
}

.nav-list li.current>a{
  color:#006699 !important;
}

.nav-list li:not(.logo)>a{
  display:block;
  font-weight:400;
  color: #666666;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  padding: 0px 20px;
  font-weight:500;
}

li.logo {
    margin: 0px 40px;
}

.toggle-menu{
  display:none;
}

.mobile-display{
  display:none;
}

/*--------------------------
 2. navbar area 
 ----------------------------*/

 .link-dep{
  color: #006699; 
  font-family: 'Montserrat', sans-serif;
 }

/*--------------------------
 3. footer area 
 ----------------------------*/

 .social-medias {
    margin-top: 10px;
}
.social-medias ul>li {
    float: left;
}

.social-medias ul>li>a>i {
    font-size: 16px;
    border: 1px solid #006699;
    border-radius:  50%;
    height:  35px;
    width: 35px;
    padding-left: 10px;
    padding-top: 9px;
    margin-right: 5px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: #2B2B2B;
}

.social-medias ul>li>a>i:hover{
  background: #006699;
  color: #fff;
}


#hr-footer{
  background-color: white; 
  height: 0.05vh
}

#footer-foot{
  background-color: #656565;
}

#copy{
  color: #FAFAFA;
  font-family: 'Montserrat', sans-serif;
}

















































/*--------------------------
 10. preloader CSS 
 ----------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999;
    width: 100%;
    height: auto;
}

#status {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(images/1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/* Mobile Phones */
@media only screen and (min-width: 320px) and (max-width: 767px){
.mobile-display{
	display:block;
	margin:0 auto;
}
.logo{
	display:none;
}

.toggle-menu{
	display:block;
	max-width:-webkit-min-content;
	max-width:-moz-min-content;
	max-width:-o-min-content;
	max-width:min-content;
	margin:1rem auto;
	background:#2B2B2B;
	color:#fff !important;
	text-align:center;
	padding:1rem;
	border-radius:.25em;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.toggle-menu:hover{
	background:#006699;
}
.nav-list{
	display:block;
	width:100%;
	position:static;
	z-index:1012;
	left:0;
	top:0;
	background:#2B2B2B;
	text-align:center;
	max-height:0;
	overflow:hidden;
}
.activeNav{
	max-height:100%; 
	overflow:auto;
}
.nav-list li{
	margin-left:0;
}
.nav-list li:not(.logo)>a{
	color:#006699;
	line-height:40px;
}
.nav-list li:not(.logo)>a:hover{
	color: #fff !important;
	background:#006699;
	
}
}


